<%- include('headeri') -%>

<article class="d-flex flex-column align-items-center">
  <table class="table table-striped table-hover w-75 mx-auto">
    <tr>
      <th>Szám</th>
      <th>Üzemanyag</th>
      <th>Megtett km</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <td>52</td>
      <td>Dízel</td>
      <td>520.000</td>
      <td>
        <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#editTrain">
          <i class="fa-solid fa-pen-to-square"></i> Szerkesztés
        </button>
      </td>
      <td>
        <button class="btn btn-outline-primary">
          <a href="/kocsi"><i class="fa-solid fa-train"></i> Kocsik</a>
        </button>
      </td>
      <td>
        <button class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i> Törlés</button>
      </td>
    </tr>
  </table>
  <button class="btn btn-outline-success mt-3" data-bs-toggle="modal" data-bs-target="#editTrain">
    <i class="fa-solid fa-circle-plus"></i> Új
  </button>
</article>

<%- include('trainModal') -%> <%- include('footer') -%>
