<div class="modal fade" id="editWagon">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Kocsi adatainak szerkesztése</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <span class="input-group-text">Sorszám</span>
          <input type="text" class="form-control" placeholder="1" />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Szám</span>
          <input type="text" class="form-control" placeholder="411" />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Ülőhelyek száma</span>
          <input type="text" class="form-control" placeholder="97" />
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="helyjegy">Helyjegy</label>
          <select class="form-select" id="helyjegy">
            <option selected value="1">Igen</option>
            <option value="0">Nem</option>
          </select>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
          <i class="fa-regular fa-circle-xmark"></i> Mégse
        </button>
        <button type="button" class="btn btn-outline-success">
          <i class="fa-solid fa-floppy-disk"></i> Mentés
        </button>
      </div>
    </div>
  </div>
</div>
