<div class="modal fade" id="editTrain">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Vonat adatainak szerkesztése</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <span class="input-group-text">Szám</span>
          <input type="text" class="form-control" placeholder="52" />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Üzemanyag</span>
          <input type="text" class="form-control" placeholder="Dízel" />
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
          <i class="fa-regular fa-circle-xmark"></i> Mégse
        </button>
        <button type="button" class="btn btn-outline-success">
          <i class="fa-solid fa-floppy-disk"></i> Mentés
        </button>
      </div>
    </div>
  </div>
</div>
